@model HMCTS_TaskManager.Models.TaskItem

<h1>Delete Task</h1>
<p>
  Are you sure you want to delete this task?
</p>

<div>
  <strong>Title:</strong>@Model.Title
</div>

<div>
  <strong>Status:</strong>@Model.Status
</div>

<form asp-action="DeleteConfirmed" method="post">

  <input type="hidden" asp-for="Id" />

  <button type="submit" class="btn btn-danger">
    Delete
  </button>

  <a asp-action="Index" class="btn btn-secondary">
    Cancel
  </a>

</form>